body {
    background: linear-gradient(to right, rgb(161, 247, 218), white);
    height: 100vh;

    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.navBar {
    background-color: aquamarine;
    width: 800px;
    max-width: 90%;
    height: 10%;
    border-radius: 20px;
    box-shadow: 0 2px 15px ;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width: 10%;
    height: 68%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10) );
    -webkit-backdrop-filter: blur(10px);
}

.anchorBar {
    width: 50%;
    height: 68%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10) );
    -webkit-backdrop-filter: blur(10px);
}

.perfil {
    width: 20%;
    height: 68%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10) );
    -webkit-backdrop-filter: blur(10px);
}

/*---------------------------------------------CONTAINER---------------------------------------------*/


.container {
    background-color: rgb(160, 255, 223);
    width: 800px;
    max-width: 90%;
    height: 70%;
    border-radius: 20px;
    box-shadow: 0 2px 15px ;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.createEvent {
    width: 90%;
    height: 15%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10) );
    -webkit-backdrop-filter: blur(10px);

    display: flex;
}

.filter {
    width: 90%;
    height: 15%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10) );
    -webkit-backdrop-filter: blur(10px);

    display: none;
}

.sampling {
    width: 90%;
    height: 35%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10) );
    -webkit-backdrop-filter: blur(10px);

    display: flex;
}

.eventSubscribed {
    width: 90%;
    height: 35%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10) );
    -webkit-backdrop-filter: blur(10px);
}



